<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ECCI_SudokuBinding" allowCookies="True" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://titanic.ecci.ucr.ac.cr/~eb31548/TareaProgramada2/"
                binding="basicHttpBinding" bindingConfiguration="ECCI_SudokuBinding"
                contract="SudokuService.ECCI_SudokuPort" name="ECCI_SudokuPort" />
        </client>
    </system.serviceModel>
</configuration>